
.albumContainer{
    position: relative;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.album{
    background-color: #eee;
    border:solid 1px #cdcdcd;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    margin: 5px;
    width: 280px;
    height: 170px;
    float: left;
}

.album:hover{
    border:solid 1px #ffffff;
}

.albumImage{
    max-width: 230px;
    max-height: 130px;
}

.albumTitle{
}