
.albumContainer{
    position: relative;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.album{
    background-color: #eee;
    border:solid 1px #cdcdcd;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    margin: 5px;
    width: 285px;
    height: 170px;
}

.album:hover{
    border:solid 1px #ffffff;
}

.albumImage{
    max-width: 285px;
    max-height: 157px;
}

.albumTitle{
}

.albumWrapper{;
    padding-bottom: 20px;
    max-width: 300px;
    max-height: 210px;
    overflow: hidden;
    float: left
}