<div class="reveal-modal-bg_country_popup" id = "bg_country_popup">
    <div class="reveal-modal_country_popup text-center">
        <h1 class="mainColor" data-localize="new_album">New album</h1>
        <div class="form-group">
            <label for="albumName" data-localize="name">Name</label>
            <input type="text" class="form-control" id="albumName" placeholder="Album name">
        </div>
        <div class="form-group">
            <label for="userPicasaId" data-localize="picasa_user_id">Picasa User Id</label>
            <input type="text" class="form-control" id="userPicasaId" placeholder="Picasa User Id">
        </div>
        <div class="form-group">
            <label for="albumPicasaId" data-localize="picasa_album_id">Picasa Album Id</label>
            <input type="text" class="form-control" id="albumPicasaId" placeholder="Picasa Album Id">
        </div>
        <a href="#" class="btn btn-default" onclick="addAlbum()" data-localize="add">Add</a>
        <a href="javascript:countryPopUpHide()" class="close-reveal-modal">&#215;</a>
    </div>
</div>