<div class="reveal-modal-bg_country_popup" id = "bg_country_popup">
    <div class="reveal-modal_country_popup text-center">
        <div class="modal_content text-center">
            <h1 class="mainColor" data-localize="new_album">New album</h1>
            <div class="form-group">
                <label for="userPicasaId" data-localize="picasa_user_id">Picasa User Id</label>
                <input type="text" class="form-control" id="userPicasaId" placeholder="Picasa User Id">
            </div>
            <a href="#" class="btn btn-default" onclick="next()" data-localize="next">Next</a>
        </div>
        <a href="javascript:closePopup()" class="close-reveal-modal">&#215;</a>
    </div>
</div>