<div class="reveal-modal-bg_auth_popup ">
    <div class="reveal-modal_auth_popup" id="auth_popup">
            <h1 class="mainColor"><span data-localize="welcome">Welcome</span>!</h1><hr>
            <p><span data-localize="to_display_the_occupied_territories_sign_in">To display the occupied territories sign in </span> <a href="https://foursquare.com/" target="_blank">foursquare.com</a> <span data-localize="and_try">и попробуйте</span> <a href="/" data-localize="again">еще раз</a>!</p>
            <a href="javascript:authPopUpHide()" class="close-reveal-modal">&#215;</a>
    </div>
</div>