<div id="country">
    <h1 class="mainColor" id="country_name"></h1>
    <p><span data-localize="capital">Capital</span>: <span id="country_capital"></span></p>
    <p><span data-localize="region">Region</span>: <span id="country_region"></span></p>
    <p><span data-localize="subregion">Subregion</span>: <span id="country_subregion"></span></p>
    <p><span data-localize="population">Population</span>: <span id="country_population"></span></p>
    <p><span data-localize="area">Area</span>: <span id="country_area"></span></p>
    <p><span data-localize="gini_coefficient">Gini coefficient</span>: <span id="country_gini"></span></p>
</div>