<div class="reveal-modal-bg_country_popup" id = "bg_country_popup">
    <div class="reveal-modal_country_popup text-center">
        <div class="modal_content text-center">
            <h1 class="mainColor" data-localize="new_album">New album</h1><hr>
            <div class="form-group">
                <label for="userPicasaId" data-localize="picasa_user_id">Picasa User Id</label><a href="javascript:showInstruction()"> (Show instruction) </a>
                <input type="text" class="form-control" id="userPicasaId" placeholder="Picasa User Id">
            </div>
            <a href="#" class="btn btn-primary" onclick="next()" data-localize="next">Next</a>
            <div><img id="instruction" src="/images/instruction.png"></div>
        </div>
        <a href="javascript:closePopup()" class="close-reveal-modal">&#215;</a>
    </div>
</div>