<div class="reveal-modal-bg_country_popup" id = "bg_country_popup">
    <div class="reveal-modal_country_popup text-center">
        <h1 class="mainColor" data-localize="invite">Invite</h1><hr>
        <div class="row">
            <div class="col-md-24">
                <form role="form">
                    <div class="form-group">
                        <label for="inviteMessage" data-localize="text_of_invite">Text of invite</label>
                        <textarea class="form-control" id="inviteMessage" placeholder="Text of invite" style="max-width: 440px; min-height: 100px;"></textarea>
                    </div>
                    <a href="" id = 'sendInviteButton' class="btn btn-default" data-localize="send">Send</a>
                </form>
            </div>
        </div>
        <a href="javascript:countryPopUpHide()" class="close-reveal-modal">&#215;</a>
    </div>
</div>