<nav class="navbar navbar-default">
    <ul class="nav navbar-nav navbar-left">
        <li id="home_map" class="panel-title"><a href="/" data-localize="map">Map</a></li>
        <li id="countries" class="panel-title"><a href="/countries" data-localize="countries">Countries</a></li>
        <li id="friends" class="panel-title"><a href="/friends" data-localize="friends">Friends</a></li>
        <li id="messages" class="panel-title"><a href="/messages" data-localize="messages">Messages</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li id="user" class="panel-title"><a href="/user?id=me" data-localize="home">Home</a></li>
    </ul>
</nav>