@import "bootstrap/bootstrap.less";
@import "variables.less";

p {
  margin: 20px 0;
}

.form-control {
  box-shadow: none;
}

.btn {
  font-family: @brand-font;
}

body {
  border-top: 5px solid #7e7e7e;

  .wrapper {
    padding: 0 0 0 0;
    .navbar a {
      text-transform: uppercase;
      font: 14px @brand-font;
      padding-right: 30px;
      padding-bottom: 10px;
    }
    .navbar-right {
      padding-right: 15px;
    }
  }

  header {
    padding: 20px 0;
  }
}

a{
    cursor: pointer;
}

.panel {
  box-shadow: none;
  .panel-heading {
    font: 14px @brand-font;
    text-transform: uppercase;
    padding: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    .glyphicon{
      color: #29c5e6;
    }
  }

  .panel-body {
    padding: 10px;
  }
}