{% extends 'layout/layout.html' %}

{% block styles %}
{% parent %}
<link rel="stylesheet" href="/css/popup/popup.css" >
<link rel="stylesheet" href="/css/gallery/album.css" >
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-24">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title leftstr"><span data-localize="albums">Albums </span><span id = 'locality_title'></span></h3>
            <span class="rightstr">
                <span><!--<a href="#" onclick="countryPopUpShow()" id="deleteButton" class="glyphicon glyphicon-plus"></a>--></span>
            </span>
                <span class="clearfix"></span>
            </div>
            <div class="panel-body">
                <div id="albums" class="albumContainer">
                </div>
            </div>
        </div>
    </div>
</div>

<div>{% include "partials/add_album_popup.html" %}</div>
{% endblock %}

{% block scripts %}
{% parent %}
<script type="text/javascript" src="/js/logic/services/synchronizer/picasa.js"></script>
<script type="text/javascript" src="/js/logic/services/synchronizer/foursquare.js"></script>
<script type="text/javascript" src="/js/logic/services/synchronizer/synchronizer.js"></script>
<script type="text/javascript" src="/js/logic/albums.js"></script>
{% endblock %}