{% extends 'layout/layout.html' %}

{% block styles %}
{% parent %}
<link rel="stylesheet" href="/css/gallery/nanogallery.css" >
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-24">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title leftstr" data-localize="album">Album</h3>
            <span class="rightstr">
                <span><a href="#" onclick="deleteAlbum()" id="deleteButton" class="glyphicon glyphicon-trash mainColor"></a></span>
            </span>
            <span class="clearfix"></span>
        </div>
        <div class="panel-body">
            <div id="gallery">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block other %}
<div id="fb-root"></div>

{% endblock %}

{% block scripts %}
{% parent %}

<script type="text/javascript" src="/js/logic/services/services.js"></script>
<script type="text/javascript" src="/js/logic/services/synchronizer/foursquare.js"></script>
<script type="text/javascript" src="/js/logic/services/database.js"></script>
<script type="text/javascript" src="/js/logic/album.js"></script>

<script type="text/javascript" src="/js/jquery/jquery.transit.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.nano-gallery.js"></script>

{% endblock %}