{% extends 'layout/layout.html' %}


{% block styles %}
{% parent %}

<link rel="stylesheet" href="/css/design.css"/>
<link rel="stylesheet" href="/css/map.css"/>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-24">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row panel-title" >
                    <div class="col-md-12">
                        <span data-localize="me">ME</span>  VS  <span class="vs_title"></span>
                    </div>
                </div>
            </div>
            <div class="panel-body ">
                <div class="row">
                    <div id = "vmap" style="height: 400px;"></div>
                </div>
                <div class="row">
                    <div class="designationContainer">
                        <div class="designationWrapper"><span id = 'friend_color' class="designation" style=""></span><span class="vs_title"></span></div>
                        <div class="designationWrapper"><span id = 'join_color' class="designation" style="" ></span ><span data-localize="join">Join</span></div>
                        <div class="designationWrapper"><span id = 'user_color' class="designation" style=""></span><span data-localize="me">Me</span></div>
                        <div class="designationWrapper"><span id = 'not_captured_color' class="designation" style=""></span><span data-localize="not_captured">Not captured</span></div>
                        <span class="clearfix"></span>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="self_points"><span data-localize="me">Me</span> : <span data-localize="points">Points</span></label>
                                <input type="text" class="form-control" id="self_points" readonly>
                            </div>
                            <div class="form-group">
                                <label for="self_countries_count"  data-localize="countries_count">Countries count</label>
                                <input type="text" class="form-control" id="self_countries_count" readonly>
                            </div>
                            <div class="form-group">
                                <label for="self_cities_count"  data-localize="cities_count">Cities count</label>
                                <input type="text" class="form-control" id="self_cities_count" readonly>
                            </div>
                            <div class="form-group">
                                <label for="self_area"  data-localize="area">Area</label>
                                <input type="text" class="form-control" id="self_area" readonly>
                            </div>
                            <div class="form-group">
                                <label for="self_population"  data-localize="population">Population</label>
                                <input type="text" class="form-control" id="self_population" readonly>
                            </div>
                            <div class="form-group">
                                <label for="self_countries"  data-localize="countries">Countries</label>
                                <div id="self_countries"></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="f_points"><span class="vs_title"></span> : <span data-localize="points">Points</span></label>
                                <input type="text" class="form-control" id="f_points" readonly>
                            </div>
                            <div class="form-group">
                                <label for="f_countries_count"  data-localize="countries_count">Countries count</label>
                                <input type="text" class="form-control" id="f_countries_count" readonly>
                            </div>
                            <div class="form-group">
                                <label for="f_cities_count"  data-localize="cities_count">Cities count</label>
                                <input type="text" class="form-control" id="f_cities_count" readonly>
                            </div>
                            <div class="form-group">
                                <label for="f_area"  data-localize="area">Area</label>
                                <input type="text" class="form-control" id="f_area" readonly>
                            </div>
                            <div class="form-group">
                                <label for="f_population"  data-localize="population">Population</label>
                                <input type="text" class="form-control" id="f_population" readonly>
                            </div>
                            <div class="form-group">
                                <label for="f_countries"  data-localize="countries">Countries</label>
                                <div id="f_countries"></div>
                            </div>
                        </form>
                    </div>
               </div>
               <div class="fb-share-button" data-href=""></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block other %}
    <div id="fb-root"></div>
{% endblock %}

{% block scripts %}
{% parent %}
<script type="text/javascript" src="/js/jquery/map/jquery.vmap.min.js"></script>
<script type="text/javascript" src="/js/jquery/map/maps/jquery.vmap.world.js"></script>
<script type="text/javascript" src="/js/jquery/map/data/jquery.vmap.sampledata.js"></script>
<script type="text/javascript" src="/js/logic/services/map.js"></script>
<script type="text/javascript" src="/js/logic/services/points.js"></script>
<script type="text/javascript" src="/js/logic/services/statistics.js"></script>
<script type="text/javascript" src="/js/logic/services/synchronizer/foursquare.js"></script>
<script type="text/javascript" src="/js/logic/services/synchronizer/synchronizer.js"></script>
<script type="text/javascript" src="/js/logic/battle.js"></script>
<script type="text/javascript" src="/js/logic/services/facebook.js"></script>
{% endblock %}