{% extends 'layout/layout.html' %}

{% block styles %}
{% parent %}
<link rel="stylesheet" href="/js/modaldialog/reveal.css" >
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-24">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"  data-localize="captured_countries">Captured countries</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover countries">
                    <tr class="row">
                        <td>#</td>
                        <td data-localize="title">Name</td>
                        <td data-localize="capital">Capital</td>
                        <td class="text-right" data-localize="population">Population</td>
                        <td class="text-right"><span data-localize="area">Area</span> KM<sup><small>2</small></sup></td>
                        <td class="text-center" data-localize="checkins_count">Checkins Count</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="country_popup" class="reveal-modal">
    {% include "partials/country_popup.html" %}
    <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}

{% block other %}
<div id="fb-root"></div>

{% endblock %}

{% block scripts %}
{% parent %}

<script type="text/javascript" src="/js/logic/services.js"></script>
<script type="text/javascript" src="/js/logic/foursquare.js"></script>
<script type="text/javascript" src="/js/logic/countries.js"></script>
<script type="text/javascript" src="/js/modaldialog/jquery.reveal.js"></script>

{% endblock %}