{% extends 'layout/layout.html' %}

{% block styles %}
{% parent %}
<link rel="stylesheet" href="/css/popup/popup.css" >
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-24">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"  data-localize="captured_countries">Captured countries</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="countriesTable">
                    <thead>
                    <tr class="row">
                        <td>#</td>
                        <td data-localize="title">Name</td>
                        <td data-localize="capital">Capital</td>
                        <td class="text-right" data-localize="population">Population</td>
                        <td class="text-right"><span data-localize="area">Area</span> KM<sup><small>2</small></sup></td>
                        <td class="text-center" data-localize="checkins_count">Checkins Count</td>
                        <td class="text-center" data-localize="album">Album</td>
                    </tr>
                    </thead>
                    <tbody class="countries">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div>{% include "partials/country_popup.html" %}</div>

{% endblock %}

{% block other %}
<div id="fb-root"></div>

{% endblock %}

{% block scripts %}
{% parent %}

<script type="text/javascript" src="/js/logic/services/services.js"></script>
<script type="text/javascript" src="/js/logic/services/foursquare.js"></script>
<script type="text/javascript" src="/js/logic/country.js"></script>
<script type="text/javascript" src="/js/logic/countries.js"></script>

{% endblock %}