{% extends 'layout/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-24">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row panel-title" >
                    <div class="col-md-12" id="vs_title">
                    </div>
                    <div class="col-md-12"data-localize="me" >
                        ME
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                            <label for="f_friends" data-localize="friends">Friends</label>
                            <input type="text" class="form-control" id="f_friends" readonly>
                        </div>
                        <div class="form-group">
                            <label for="f_checkins" data-localize="checkins">Checkins</label>
                            <input type="text" class="form-control" id="f_checkins" readonly>
                        </div>
                        <div class="form-group">
                            <label for="f_tips" data-localize="tips">Tips</label>
                            <input type="text" class="form-control" id="f_tips" readonly>
                        </div>
                        <div class="form-group">
                            <label for="f_badges" data-localize="badges">Badges</label>
                            <input type="text" class="form-control" id="f_badges" readonly>
                        </div>
                        <div class="form-group">
                            <label for="f_mayorships" data-localize="mayorships">Mayorships</label>
                            <input type="text" class="form-control" id="f_mayorships" readonly>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                            <label for="self_friends"  data-localize="friends">Friends</label>
                            <input type="text" class="form-control" id="self_friends" readonly>
                        </div>
                        <div class="form-group">
                            <label for="self_checkins"  data-localize="checkins">Checkins</label>
                            <input type="text" class="form-control" id="self_checkins" readonly>
                        </div>
                        <div class="form-group">
                            <label for="self_tips" data-localize="tips">Tips</label>
                            <input type="text" class="form-control" id="self_tips" readonly>
                        </div>
                        <div class="form-group">
                            <label for="self_badges" data-localize="badges">Badges</label>
                            <input type="text" class="form-control" id="self_badges" readonly>
                        </div>
                        <div class="form-group">
                            <label for="self_mayorships" data-localize="mayorships">Mayorships</label>
                            <input type="text" class="form-control" id="self_mayorships" readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block other %}
<div id="fb-root"></div>

{% endblock %}

{% block scripts %}
{% parent %}

<script type="text/javascript" src="/js/logic/configuration.js"></script>
<script type="text/javascript" src="/js/logic/services.js"></script>
<script type="text/javascript" src="/js/logic/foursquare.js"></script>
<script type="text/javascript" src="/js/logic/friend.js"></script>

{% endblock %}