{% extends 'layout/layout.html' %}

{% block styles %}
{% parent %}

<link rel="stylesheet" href="/js/jqmap/jqvmap.css"/>
<link rel="stylesheet" href="/css/popup/popup.css" >
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-24">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" data-localize="conquer_the_world">Conquer the world</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" id = "geocoding_form">
                        <div id = "vmap" style="height: 400px;"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div>{% include "partials/country_popup.html" %}</div>

{% endblock %}

{% block other %}
<div id="fb-root"></div>

<div>{% include "partials/auth_popup.html" %}</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/logic/services/services.js"></script>
<script type="text/javascript" src="/js/logic/services/session.js"></script>
<script type="text/javascript" src="/js/logic/services/database.js"></script>
<script type="text/javascript" src="/js/logic/services/points.js"></script>
<script type="text/javascript" src="/js/logic/services/synchronizer/picasa.js"></script>
<script type="text/javascript" src="/js/logic/services/synchronizer/restcountries.js"></script>
<script type="text/javascript" src="/js/logic/services/synchronizer/foursquare.js"></script>
<script type="text/javascript" src="/js/logic/services/synchronizer/synchronizer.js"></script>
<script type="text/javascript" src="/js/logic/init.js"></script>
<script type="text/javascript" src="/js/logic/country.js"></script>
{% parent %}

<script type="text/javascript" src="/js/jqmap/jquery.vmap.min.js"></script>
<script type="text/javascript" src="/js/jqmap/maps/jquery.vmap.world.js"></script>
<script type="text/javascript" src="/js/jqmap/data/jquery.vmap.sampledata.js"></script>
<script type="text/javascript" src="/js/logic/services/map.js"></script>
{% endblock %}