{% extends 'layout/layout.html' %}

{% block content %}
    {% include "partials/topNavigation.html" %}
    <div class="row">
        <div class="col-md-24">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Conquer the world</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" id = "geocoding_form">
                        <div id = "vmap" style="height: 400px;"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block other %}
<div id="fb-root"></div>

<div id="dialog" title="Авторизуйтесь!">
    <p>Для отображения захваченных территрорий войдите на <a href="https://foursquare.com/" target="_blank">foursquare.com</a> и попробуйте <a href="/">еще раз!</a></p>
</div>
{% endblock %}

{% block scripts %}
{% parent %}

<script type="text/javascript" src="/js/jqmap/jquery.vmap.js"></script>
<script type="text/javascript" src="/js/jqmap/maps/jquery.vmap.world.js"></script>
<script type="text/javascript" src="/js/jqmap/data/jquery.vmap.sampledata.js"></script>

<script type="text/javascript" src="/js/logic/configuration.js"></script>
<script type="text/javascript" src="/js/logic/services.js"></script>
<script type="text/javascript" src="/js/logic/foursquare.js"></script>
<script type="text/javascript" src="/js/logic/map.js"></script>
<script type="text/javascript" src="/js/logic/init.js"></script>

{% endblock %}