{% extends 'layout/layout.html' %}

{% block styles %}
{% parent %}

<link rel="stylesheet" href="/css/map.css"/>
<link rel="stylesheet" href="/css/popup.css" >
{% endblock %}

{% block content %}
<span class="mainColor"></span><span class="backColor"></span>
<div id = "vmap" ></div>
<div>{% include "partials/popup-country.html" %}</div>
<div>{% include "partials/popup-auth.html" %}</div>

{% endblock %}

{% block scripts %}
{% parent %}
<script type="text/javascript" src="/js/logic/pages/init.js"></script>
<script type="text/javascript" src="/js/logic/popups/popup-country.js"></script>
<script type="text/javascript" src="/js/jquery/map/jquery.vmap.min.js"></script>
<script type="text/javascript" src="/js/jquery/map/maps/jquery.vmap.world.js"></script>
<script type="text/javascript" src="/js/jquery/map/data/jquery.vmap.sampledata.js"></script>
<script type="text/javascript" src="/js/logic/services/map.js"></script>
{% endblock %}