{% extends 'layout/layout.html' %}

{% block styles %}
{% parent %}
<link rel="stylesheet" href="/css/popup.css" >
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-24">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title leftstr user_name"></h3>
                <span class="panel-title rightstr trivial_text" ><span  id = "last_visit_phrase" data-localize="last_visit">Last visit </span> <span id = "last_visit"></span></span>
                <span class="clearfix"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div id = "user_avatar_wrapper">
                                    <img id = "user_avatar" src="">
                                </div>
                            </div>
                            <div class="panel-body" style="text-align: center">
                                <a href="#" data-localize="send_message" id = "send_message" class="send_message_button">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span>&nbsp&nbsp&nbspSend message</span>
                                </a>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title trivial_text"><a href="#" id = 'friends_head' data-localize="friends" >Friends</a></h3>
                            </div>
                            <div class="panel-body">
                                <ul id = 'friends_body'>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title trivial_text"><a href="#" id = 'albums_head'  data-localize="albums" >Albums</a></h3>
                            </div>
                            <div class="panel-body">
                                <ul id = 'albums_body'>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title trivial_text" ><a href="#" id = 'countries_head' data-localize="countries" >Countries</a></h3>
                            </div>
                            <div class="panel-body">
                                <ul id = 'countries_body'>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-18">
                        <div id = "user_info">
                            <form role="form">
                                <div class="form-group">
                                    <h1>
                                        <span class="user_name"></span>
                                    </h1>
                                    <a href="#" data-localize="compare_with_me" id = "compare">Compare with me</a>
                                    <hr>
                                </div>
                                <div class="form-group">
                                    <label for="home"  data-localize="home_city">Home city</label>
                                    <input type="text" class="form-control" id="home" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="email"  data-localize="email">Email</label>
                                    <input type="text" class="form-control" id="email" readonly>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label for="user_points"  data-localize="points">Points</label>
                                    <input type="text" class="form-control" id="user_points" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="countries_count"  data-localize="countries_count">Countries count</label>
                                    <input type="text" class="form-control" id="countries_count" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="cities_count"  data-localize="cities_count">Cities count</label>
                                    <input type="text" class="form-control" id="cities_count" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="area"  data-localize="area">Area</label>
                                    <input type="text" class="form-control" id="area" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="population"  data-localize="population">Population</label>
                                    <input type="text" class="form-control" id="population" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="frinds_count"  data-localize="frinds_count">Frinds count</label>
                                    <input type="text" class="form-control" id="frinds_count" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="albums_count"  data-localize="albums_count">Albums count</label>
                                    <input type="text" class="form-control" id="albums_count" readonly>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>{% include "partials/popup-invite.html" %}</div>
{% endblock %}

{% block scripts %}
{% parent %}
<script type="text/javascript" src="/js/logic/pages/user.js"></script>
<script type="text/javascript" src="/js/logic/services/time.js"></script>
<script type="text/javascript" src="/js/logic/services/email.js"></script>
<script type="text/javascript" src="/js/logic/popups/popup-invite.js"></script>
{% endblock %}