<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
    {% block styles %}
    <link rel="stylesheet" href="/css/styles.css" >
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/alert.css"/>
    <script type="text/javascript" src="/js/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.browser.js"></script>
    <script type="text/javascript" src="/js/logic/services/browser.js"></script>
    <script type="text/javascript" src="/js/logic/services/auth.js"></script>
    <script type="text/javascript">
        if(!BROWSER.isCorrect(BROWSER.getVersion())){
            window.location.href = '/error/browser';
        }
    </script>
    {% endblock %}
</head>

<body>
<div class="wrapper container">
    <header>
        <a href="/"><img src="/images/logo.png" alt="CheckINer logo"></a>
        <a href="/"><img id="loadingImage" src="/images/loader.gif" alt="CheckINer logo"></a>
    </header>
    {% include "../partials/topNavigation.html" %}
    <ul id="alerts">
    </ul>
{% block content %}{% endblock %}
</div>

{% block other %}{% endblock %}

<footer class="text-center"><br>
    © 2014 Study group
</footer>

{% block scripts %}
<script type="text/javascript" src="/js/logic/services/configuration.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="/js/localize/jquery.localize.min.js"></script>
<script type="text/javascript" src="/js/logic/services/alert.js"></script>
<script type="text/javascript" src="/js/logic/services/error.js"></script>
<script type="text/javascript" src="/js/logic/services/popup.js"></script>
{% endblock %}

</body>
</html>